:root {
    --color-primary: #fff;
    --color-accent: #ffb700;
    --bg-gradient: linear-gradient(to right, #1e2025, #212328);
}

body {
    background: var(--bg-gradient);
}

li {
    list-style: none;
}

button {
    background: none;
    border: none;
    color: var(--color-accent);
    border: solid 1px var(--color-accent);
}

[class^='icon-'],
[class*=' icon-'] {
    line-height: 2 !important;
}

.icon-play {
    margin-right: -7%;
}

.app {
    /* padding: 1rem 1.5rem; */
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}


.video-js video,
.vjs-text-track-display,
.vjs-volume-menu-button,
.vjs-progress-control,
.vjs-fullscreen-control,
.vjs-playback-rate,
.vjs-remaining-time-display,
.vjs-big-play-button,
.vjs-control-text,
.vjs-modal-dialog,
.vjs-volume-panel,
.vjs-current-time,
.vjs-time-control,
.vjs-live-control,
.vjs-duration,
.vjs-hidden,
.vjs-seek-to-live-control,
.vjs-spacer {
  display: none !important;
}

.vjs-control-bar {
  height: 100% !important;
}

.vjs-play-control {
  width: 100% !important;
  height: 100% !important;
}

.vjs-veechika-skin {
  width: 80px !important;
  height: 80px !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* .vjs-paused .vjs-icon-placeholder {
    content: 'icon-pause';
} */

.vjs-icon-placeholder:before {
    content: '\ea1c';
}
/* .vjs-paused .vjs-icon-placeholder:before {
    content: '\ea1d';
} */