:root {
    --color-primary: #fff;
    --color-accent: #ffb700;
    --bg-gradient: linear-gradient(to right, #1e2025, #212328);
}

body {
    background: var(--bg-gradient);
}

li {
    list-style: none;
}

button {
    background: none;
    border: none;
    color: var(--color-accent);
    border: solid 1px var(--color-accent);
}

button > i {
    line-height: 2 !important;
}

.app {
    /* padding: 1rem 1.5rem; */
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
